:root {
  --bs-table-border-color: #{$cl-table-border};
}
.table-container {
  width: 100%;
  display: block;
  overflow-x: auto;
  min-height: 400px;
  border-radius: $border-radius;
  border: var(--bs-border-width) solid var(--bs-table-border-color);
  &--calculation {
    max-height: calc(100vh - 345px);
    @media screen and (min-width: 1600px) {
      max-height: calc(100vh - 490px);
    }
  }
  &--orders,
  &--loaded {
    max-height: calc(100vh - 100px);
    @media screen and (min-width: 1600px) {
      max-height: calc(100vh - 140px);
    }
  }
}
.table {
  --bs-table-color: #{$cl-black};
  margin-bottom: 0;
  &--fixed-thead {
    thead {
      position: sticky;
      top: 0;
    }
  }
  &--fixed-left {
    thead tr th:first-child,
    tbody tr td:first-child {
      position: sticky;
      left: 0;
    }
  }
  thead {
    tr:first-child {
      border-top: none;
      th {
        border-top: none;
      }
    }
  }
  tbody {
    tr:last-child {
      border: none;
      td {
        border-bottom: none;
      }
    }
  }
  th {
    background-color: $cl-table-bg;
    font-weight: 500;
    vertical-align: baseline;
  }
  td,
  th {
    vertical-align: middle;
    padding: 0.4rem 1.2rem;
    border: var(--bs-border-width) solid var(--bs-table-border-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  td {
  }
  th:first-child,
  td:first-child {
    border-left: none;
  }
  th:last-child,
  td:last-child {
    border-right: none;
  }
}
